@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --light-gray: hsl(0, 0%, 95%);
}

body {
    /* display: flex;
    justify-content: center; */
    background-color: var(--transparent-white);
    font-size: 0.9rem;
}

main {
    display: flex;
    flex-direction: column;
    margin-block: 5rem;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

p {
    font-family: 'Lexand Deca', sans-serif;
    line-height: 15px;
}

button {
    width: 146px;
    height: 48px;
    font-family: 'Lexand Deca', sans-serif;
    border-radius: 25px;
    border: none;
    background-color: white;
}


.title {
    text-align: start;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 18rem;
    min-height: 600px;
    padding: 2rem;
    color: var(--transparent-white);
}

.card-description {
    max-width: 212px;
    min-height: 125px;
}

/* .info-btn {
    margin-top: 60px;
} */



.sedans {
    background-color: var(--bright-orange);
    border-radius: 1.5em 1.5em 0 0;
}

.sedan.btn {
    background-color: white;
    color: var(--bright-orange)
}

.suvs {
    background-color: var(--dark-cyan);
}

.suv.btn {
    background-color: white;
    color: var(--dark-cyan)
}

.luxurys {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 1.5em 1.5em;
}

.luxury.btn {
    background-color: white;
    color: var(--very-dark-cyan);
}

.sedan.btn:hover {
    background-color: var(--bright-orange);
    color: white;
    border: 1px solid white;
}

.suv.btn:hover {
    background-color: var(--dark-cyan);
    color: white;
    border: 1px solid white;
}

.luxury.btn:hover {
    background-color: var(--very-dark-cyan);
    color: white;
    border: 1px solid white;
}



.attribution { 
    align-self: center;
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 880px) {
    main {
        flex-direction: row;;
        align-items: center;
    }

    .sedans {
        border-radius: 1.5em 0 0 1.5em;
        
    }

    .luxurys {
        border-radius: 0 1.5em 1.5em 0;
        
    }
}